@import "tailwindcss";

@theme {
  --color-page: #F2CFCB;
  --color-card: #ffffff;
  --color-primary: #443025;
  --color-secondary: #EC9C9D;
  --color-accent: #7F5836;
  --color-text-main: #443025;
  --color-text-sub: #AA7F66;
  
  --font-cute: "Quicksand", sans-serif;
}


.theme-sakura {
  --color-page: #F2CFCB;
  --color-card: #ffffff;
  --color-primary: #443025;
  --color-secondary: #EC9C9D;
  --color-accent: #7F5836;
  --color-text-main: #443025;
  --color-text-sub: #AA7F66;
}

.theme-forest {
  --color-page: #F7F4D5;
  --color-card: #ffffff;
  --color-primary: #0A3323;
  --color-secondary: #839958;
  --color-accent: #D3968C;
  --color-text-main: #105666;
  --color-text-sub: #436d40;
}

.theme-blossom {
  --color-page: #F4DFE6;
  --color-card: #ffffff;
  --color-primary: #E0A3BB;
  --color-secondary: #C5CC82;
  --color-accent: #D6E6E7;
  --color-text-main: #7a4a5f;
  --color-text-sub: #97A13B;
}

body {
  background-color: var(--color-page);
  color: var(--color-text-main);
  font-family: var(--font-cute);
}